<section>
<div class="container">
    <div class="row mt-2">
        <a href="/admin/add-products" class="btn btn-primary col-md-2 mt-4 mx-auto">Add Products</a>
        </div>
        <table class="table table-white table-striped-columns mt-5">
            <thead>
                <tr>
                    <th scope="col">Sl.no</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each products}}
                    <th scope="row">{{this.No}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td><img style="width: 50px; height: 50px;" src={{this.image}} alt=""></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    
</div>
</section>