<section>
    <div class="container-fluid container-md">
        <div class="row mt-2 ">
            <div class="col-12 col-md-12 d-flex justify-content-center">
                <a href="/admin/add-products" class="btn btn-primary mt-4 mx-auto">Add Products</a>
            </div>
        </div><br>

        <div class="table-responsive">
            <table id="myTable" class="table table-white table-striped-columns mt-5 ">
                <thead>
                    <tr>
                        <th>Sl.no</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <th>{{inc @index}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.category}}</td>
                        <td style="width: 385px;">{{this.description}}</td>
                        <td style="width: 100px;"><img style="width: 50px; height: 50px; object-fit: contain;"
                                src=/product-images/{{this._id}}.jpg alt=""></td>
                        <td style="width: 90px;">{{this.price}}</td>
                        <td>
                            <a href="/admin/edit-products/{{this._id}}" class="btn me-1 my-2"
                                style="background-color: #005bc5;">Edit</a>
                            <a href="/admin/delete-products/{{this._id}}" class="btn"
                                onclick="return confirm('Are you sure want to delete {{this.name}} ?');"
                                style="background-color: rgb(200, 0, 0);">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>